<h2>Nuestra Institución</h2>
<p>
    La reserva natural está a orillas del Río Paraná, a pocas cuadras del Hospital Eva Perón, compuesta por 6 manzanas costeras del Barrio Paraíso, ofrece un espacio verde autóctono y preservado con árboles típicos de la zona, un sector de arena para disfrutar la playa y el sol, también hay un sector de pesca. Es un hermoso y tranquilo lugar para ir a disfrutar de la naturaleza en familia, con amigos o en pareja.
</p>
<p>
    Es un sector privilegiado... la magia del río conquista tus sentidos para maximizar el disfrute!!! De fondo el paisaje de las barrancas hacia un costado y hacia el frente el río con el imponente Puente Rosario - Victoria.
</p>
<p>
    Cuando tengas un día libre o algunas horitas y te quieras desenchufar de la vertiginosa ciudad anda a la Reserva Natural y Playa Granadero Baigorria, llévate la canastita con el mate y los biscochos porque recordá que el agua y el sol dan hambre! Igual si te colgas no hay drama porque allí hay una proveeduría y también un restaurante llamado El Destino.
</p>
<p>
    Este espacio cuenta además con una asociación náutica en la que enseñan y practican canotaje, acércate y pedí mayor información sobre esto.
</p>
<p>
    También se ha organizado un movimiento político y ecológico en protección de la reserva que se denomina "Campaña Internacional En Defensa De La Reserva Natural Playa Granadero Baigorria", desde la cual se han realizado advertencias legales al Colegio de Arquitectos de Rosario que ciertas iniciativas que estaría implementando megaproyectos económicos irían en detrimento y amenazarían con la desaparición de la Reserva.
</p>
<div >
<iframe class="center-block" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13406.420996644138!2d-60.6945149!3d-32.8557021!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb3a93f80e4da58cd!2sReserva%20Natural%20Granadero%20Baigorria!5e0!3m2!1ses!2sar!4v1579125968733!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
